<!-- SECTION 2: About Me -->
<section id="about" class="about-section">
    <h2>About Me</h2>
    <p>
        Throughout my life, I've always had a deep interest in technology and its applications in the world around me. For much of my life, this mostly involved reading and watching videos about new technology I wished I could get my hands on, while academically,
        my interests focused heavily on math and physics. It was in high school where I first began to gravitate towards Computer Engineering while attending the GA Governor's Honors Program in 2023, studying Math. 
        It was there that I began learning how to program, working on a research project involving game theory for a custom board game. Although I enjoyed learning how to problem solve using code, I realized that what interested me most was understanding why it worked. 
        Looking past the surface, computers and technology as a whole felt like an untapped world to me, something that everyone used but hardly anyone truly understood. Studying Computer Engineering, my goal is to understand how and why computers work from the ground up, and apply these skills to solve 
        important problems and develop technology that shapes the way we live. 
    </p>
    <div style="height: 20px;"></div>
    <p>
        Outside of Computer Engineering, I love music, games, and spending time with the people in my life. I play piano and guitar (electric mostly), and I love listening to music of all sorts (but my favorite band is The Strokes). In my free time, I like to unwind with friends and play games, whether that 
        be board games, video games, or sports, and I'm a big fan of doing > watching whenever I get the chance. Besides these, I'm always excited to try or see new things, and I'm always searching for new experiences to enjoy.
    </p>
    <div style="height: 20px;"></div>
    <h2>Career Goals</h2>
    <p>
        Currently, I'm on track to graduate in Spring, 2029 with my Bachelor's Degree in Computer Engineering. From here, my goal is to either work in chip design or embedded systems. If I decide to go into chip design, I'll likely pursue a Master's Degree in ECE at GT, through the BS/MS program 
        here at GT. In my first year, I'm still exploring my options and gaining familiarity with the many paths Computer Engineering offers, so I'm working on developing my overall skills so that I have a strong foundation to work with when I find the niche I want to specialize in.
    </p>
    <div style="height: 20px;"></div>
    <p>
        So far, during my first semester at GT, I've been primarily focusing on part-time work, math tutoring (Calculus 1-3 and Linear Algebra), and exploring many of the co-curricular opportunities offered on campus. Through work and tutoring, I've been developing a strong foundation in many of the soft skills I'll
        use throughout my life and future career, especially teamwork, communication, and effective time-management. For co-curriculars, I'm currently involved in HyTech Racing, Ga Tech's electric formula racing team, where I'm a part of the electrical team that develops PCBs and writes firmware
        for the many electrical systems on board. I've been using this opportunity to explore what a career in embedded systems might look like, as well as learning, PCB design, C++ and gaining experience with the field. 
    </p>
    <div style="height: 20px;"></div>
    <p>
        Going forward, I plan on joining other clubs, participating in undergraduate research, and competing in hackathons to improve my knowledge and skills in Computer Engineering and find what I enjoy doing most in the field. This year, I plan on joining SiliconJackets to explore what working in 
        chip design might look like, and applying to a variety of undergraduate research roles. By the end of my second year, my goal is to get an internship (most likely in embedded systems) where I can get real industry experience. 
    </p>
</section>
