<!-- SECTION 2: About Me -->
<section id="about" class="about-section">
    <h2>About Me</h2>
    <p>
        Throughout my life, I've always had a deep interest in technology and its applications in the world around me. For much of my life, this mostly involved reading and watching videos about new technology I wished I could get my hands on, while academically,
        my interests focused heavily on math and physics. It was in high school where I first began to gravitate towards Computer Engineering while attending the GA Governor's Honors Program in 2023, studying Math. 
        It was there that I began learning how to program, working on a research project involving game theory for a custom board game. Although I enjoyed learning how to problem solve using code, I realized that what interested me most was understanding why it worked. 
        Looking past the surface, computers and technology as a whole felt like an untapped world to me, something that everyone used but hardly anyone truly understood. Studying Computer Engineering, my goal is to understand how and why computers work from the ground up, and apply these skills to solve 
        important problems and develop technology that shapes the way we live. 
    </p>
    <p>
        Outside of Computer Engineering, I love music, games, and spending time with the people in my life. I play piano and guitar (electric mostly), and I love listening to music of all sorts (but my favorite band is The Strokes). In my free time, I like to unwind with friends and play games, whether that 
        be board games, video games, or sports, and I'm a big fan of doing > watching whenever I get the chance. Besides these, I'm always excited to try or see new things, and I'm always searching for new experiences to enjoy.
    </p>
    <h3>Career Goals</h3>
    <p>
        Testing
    </p>
</section>
